.movie-details__info {
    position: relative;
}

.back-button {
    font-size: 2rem;
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 2;
    color: #d3d3d3;
    transition: color 0.15s ease-in-out;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.back-button:hover {
    color: white;
}

.movie-details__image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out;
    max-height: 60vh;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.movie-details__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.movie-details__content {
    position: relative;
    padding: 1rem 2rem;
}

.movie-details__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}

.movie-details__genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.movie-details__genre {
    background-color: #ffae30;
    color: black;
    font-weight: 800;
    font-size: 0.9rem;
    font-family: "Roboto", sans-serif;
    padding: 0.2rem 0.5rem;
    border-radius: 9px;
}

.movie-details__details {
    padding: 0 2rem;
    max-width: 800px;
    margin-top: 1rem;
}

.movie-details__details-title {
    margin-bottom: 0.4rem;
}

.movie-details__description {
    margin-bottom: 0.8rem;
}

.movie-details__duration {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.movie-details__release-date {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


