.container {
    margin: 0 auto;
    padding: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.menu__utils {
    display: flex;
    gap: 1rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    padding: 8px 24px 8px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}

.search {
    border-radius: 4px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1.5;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.card__image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.8rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    transition: background-color 0.3s ease-in-out;
}

.card:hover>.card__title {
    background-color: rgba(0, 0, 0, 0.8);
}